<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<div class="col-sm-6">
		<f:for each="{children_201}" as="record">

				<f:format.raw>
					{record.renderedContent}
				</f:format.raw>

		</f:for>
	</div>
	<div class="col-sm-6">
		<f:for each="{children_202}" as="record">

				<f:format.raw>
					{record.renderedContent}
				</f:format.raw>

		</f:for>
	</div>
</html>
