<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="nabu-overlay overlay-none {data.dti_nabu_disturbcolor}">
	<div id="c{data.uid}" class="overlay-header">
		<f:if condition="{gallery.rows}">
			<f:then>
				<f:for each="{gallery.rows}" as="row">
					<f:for each="{row.columns}" as="column">
						<f:if condition="{column.media}">
							<div class="overlay-image">
								<f:image class="card-img-top img-responsive" src="{column.media.uid}" alt="{column.media.alternative}" title="{column.media.title}" treatIdAsReference="1" />
							</div>
						</f:if>
					</f:for>
				</f:for>
			</f:then>
			<f:else>
				<div class="overlay-image">
					<f:image src="EXT:dti_nabu/Resources/Public/Images/aktiv_werden.png"></f:image>
				</div>
			</f:else>
		</f:if>
		<div class="overlay-headline {data.dti_nabu_disturbcolor}">
			<a href="#" onclick="return false">{data.header}</a>
		</div>
	</div>
	<div class="overlay-content">
		<div class="text">
			<f:format.html><p class="card-text">{data.bodytext}</p></f:format.html>
		</div>
	</div>
	<div class="button">
		<a id="stoerer_closebutton" href="#" class="ui-dialog-buttonpane">Hinweis schließen</a>
	</div>
</div>
