<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:link.page pageUid="{data.dti_nabu_yellowbox_link}">
  <div id="c{data.uid}" class="projects">
    <article class="article single col-xs-12">
      <div class="image col-md-6 col-sm-8 col-xs-12">
        <f:for each="{gallery.rows}" as="row">
          <f:for each="{row.columns}" as="column">
            <f:if condition="{column.media}">
                <f:image class="card-img-top img-responsive" src="{column.media.uid}" alt="{column.media.alternative}" title="{column.media.title}" treatIdAsReference="1" width="335c" height="223c" />
            </f:if>
          </f:for>
        </f:for>
      </div>
      <div class="text col-md-6 col-sm-6 col-xs-12">
        <h3 class="card-title">{data.header}</h3>
        <f:format.html>{data.bodytext}</f:format.html>
        <f:link.page class="project-more" pageUid="{data.dti_nabu_yellowbox_link}"><f:if condition="{data.dti_nabu_linktext}"><f:then>{data.dti_nabu_linktext}</f:then><f:else>Mehr >></f:else></f:if></f:link.page>
      </div>
    </article>
  </div>
</f:link.page>
