<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div id="c{data.uid}" class="topics">
		<article class="article single col-xs-12">
			<f:link.typolink class="project-more" parameter="{data.dti_nabu_yellowbox_link}">
				<div class="image col-md-3 col-sm-3 col-xs-3">
					<f:for each="{gallery.rows}" as="row">
						<f:for each="{row.columns}" as="column">
							<f:if condition="{column.media}">
								<f:image class="card-img-top img-responsive" src="{column.media.uid}" alt="{column.media.alternative}" title="{column.media.title}" treatIdAsReference="1" width="150px" height="100px" />
							</f:if>
						</f:for>
					</f:for>
				</div>
			</f:link.typolink>
			<div class="text col-md-9 col-sm-9 col-xs-9">
				<f:link.typolink class="project-more" parameter="{data.dti_nabu_yellowbox_link}">
					<h3 class="card-title">{data.header}</h3>
				</f:link.typolink>
				<f:format.html>{data.bodytext}</f:format.html>
				<f:link.typolink class="project-more" parameter="{data.dti_nabu_yellowbox_link}"> <f:if condition="{data.dti_nabu_linktext}"><f:then>{data.dti_nabu_linktext}</f:then><f:else>Mehr</f:else></f:if> >></f:link.typolink>
			</div>
		</article>
	</div>
</html>
