<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">
  <f:layout name="DtInternet" />
  <f:section name="content">
    <div class="container">
      <div class="row">
        <f:render partial="News" arguments="{_all}"/>
        <div class="small-column col-sm-3 col-xs-12">
          <f:cObject typoscriptObjectPath="lib.SubpageNavigation" />
        </div>
      </div>
    </div>
    <hr>
    <div class="container content">
      <div class="row">
        <div class="col-md-9">
          {content -> f:format.raw()}
        </div>
        <div class="col-md-3">
          {contentRight -> f:format.raw()}
        </div>
      </div>
    </div>
  </f:section>
</html>
