<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div style="min-height:300px" class="col-md-4 teaser article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<f:if condition="{newsItem.falMedia}">
		<!-- fal media preview element -->
		<div class="image">
			<f:if condition="{newsItem.falMediaPreviews}">
				<f:then>
						<f:alias map="{mediaElement: '{newsItem.falMediaPreviews.0}'}">
							<f:if condition="{mediaElement.originalResource.type} == 2">
								<f:image class="img-responsive" image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 4">
								<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 5">
								<f:image class="img-responsive" image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
							</f:if>
						</f:alias>
				</f:then>
			</f:if>
		</div>
	</f:if>
	<!-- header -->
		<h5>
			<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">{newsItem.title}</n:link>
		</h5>

	<!-- teaser -->
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}"><f:translate key="more-link"/></n:link></div>
			</f:then>
			<f:else>
				<div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()} <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}"><f:translate key="more-link"/></n:link></div>
			</f:else>
		</f:if>
</div>
</html>
