<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
	  data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
			<n:format.nothing>
				<n:excludeDisplayedNews newsItem="{newsItem}" />
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:then>
					<f:else>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
			</n:format.nothing>
			<f:if condition="{settings.detail.showPrevNext}">
				<n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
					<f:if condition="{paginated}">
						<ul class="pager">
							<f:if condition="{paginated.prev}">
								<li class="previous">
									<n:link newsItem="{paginated.prev}" settings="{settings}">
										<span aria-hidden="true">&larr; </span>{paginated.prev.title}
									</n:link>
								</li>
							</f:if>
							<f:if condition="{paginated.next}">
								<li class="next">
									<n:link newsItem="{paginated.next}" settings="{settings}" class="next">
										{paginated.next.title} <span aria-hidden="true"> &rarr;</span>
									</n:link>
								</li>
							</f:if>
						</ul>
					</f:if>
				</n:simplePrevNext>
			</f:if>
				<h1>{newsItem.title}</h1>
			<div class="footer">
				<p>
					<!-- date -->
					<span class="news-list-date">
              <!-- <time datetime="{f:format.date(date:newsItem.datetime, format:'d.m.Y')}">
                      <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                      <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'d.m.Y')}" />
              </time> -->
              Artikel veröffentlicht
              <f:if condition="{newsItem.author}">
                      von {newsItem.author}
              </f:if>
              am
              <f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
              <f:if condition="{newsItem.archive}">
              bis
              <f:format.date format="d.m.Y">{newsItem.archive}</f:format.date>
              </f:if>
      </span>
			<span class="news-list-category">
              <br>Nachrichten-Kategorien:
              <f:for each="{newsItem.categories}" as="category">
                      <f:if condition="{category.shortcut}">
                              <f:then>
                                      <f:link.page pageUid="{category.shortcut}">
                                              {category.title}
                                      </f:link.page>
                              </f:then>
                              <f:else>
                                      {category.title}
                              </f:else>
                      </f:if>
              </f:for>
      </span>
		</p>
	</div>


			<f:if condition="{newsItem.teaser}">
				<!-- teaser -->
				<div class="teaser-text" itemprop="description">
					<f:format.html>{newsItem.teaser}</f:format.html>
				</div>
			</f:if>

			<f:if condition="{newsItem.contentElements}">
				<!-- content elements -->
				<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
			</f:if>

			<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />

			<!-- main text -->
			<div class="news-text-wrap" itemprop="articleBody">
				<f:format.html>{newsItem.bodytext}</f:format.html>
			</div>

			<f:if condition="{settings.detail.showSocialShareButtons}">
				<f:comment>
					Care about the privacy of your readers?
					Checkout https://typo3.org/extensions/repository/view/rx_shariff
					and it will be used automatically!
				</f:comment>
				<n:extensionLoaded extensionKey="rx_shariff">
					<f:render partial="Detail/Shariff" />
				</n:extensionLoaded>
			</f:if>

			<!-- related things -->
			<div class="news-related-wrap">

				<f:if condition="{newsItem.allRelatedSorted}">
					<!-- Related news records -->
					<div class="news-related news-related-news">
						<h4>
							<f:translate key="related-news" />
						</h4>
						<ul>
							<f:for each="{newsItem.allRelatedSorted}" as="related">
								<li>
									<span class="news-related-news-date"><f:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date></span>
									<n:link newsItem="{related}" settings="{settings}" title="{related.title}">
										{related.title}
									</n:link>
								</li>

							</f:for>
						</ul>
					</div>
				</f:if>

				<f:if condition="{newsItem.falRelatedFiles}">
					<!-- FAL related files -->
					<div class="news-related news-related-files">
						<div class="publication-box gray-box">
							<ul>
								<f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
									<li>
										<span class="news-related-files-link">
											<a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
												{f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
											</a>
										</span>
										<span class="news-related-files-size">
											{relatedFile.originalResource.size -> f:format.bytes()}
										</span>
									</li>
								</f:for>
							</ul>
						</div>
					</div>
				</f:if>

				<f:if condition="{newsItem.relatedLinks}">
					<!-- Related links -->
					<div class="news-related news-related-links">
						<h4>
							<f:translate key="related-links" />
						</h4>
						<ul>
							<f:for each="{newsItem.relatedLinks}" as="relatedLink">
								<li>
									<f:link.typolink parameter="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.typolink>
									<f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
								</li>
							</f:for>
						</ul>
					</div>
				</f:if>
			</div>
		</f:then>
		<f:else>

		</f:else>
	</f:if>
<f:if condition="{settings.backPid}">
	<!-- Link Back -->
	<div class="news-backlink-wrap">
		<f:link.page pageUid="{settings.backPid}">
			<f:translate key="back-link" />
		</f:link.page>
	</div>
</f:if>
</f:section>
</html>
