<div
    id="{identifier}"
    class="carousel slide"
    data-ride="carousel"
    data-interval="{settings.data.interval}"
    data-wrap="true"
    data-keyboard="true">

    <f:if condition="{settings.data.indicators}">
        <ol class="carousel-indicators">
            <f:for each="{slides}" as="slide" iteration="i">
                <li data-target="#{identifier}" data-slide-to="{i.index}" class="{f:if(condition: '{i.isFirst}', then: 'active')}"></li>
            </f:for>
        </ol>
    </f:if>
    <div class="carousel-inner" role="listbox">
        <f:for each="{slides}" as="slide" iteration="i">
            <div class="carousel-item {f:if(condition: '{i.isFirst}', then: 'active')} {slide.visualPosition} {slide.visualSize}">
                <f:image src="{f:uri.image(image: slide.visual)}" />
                <div class="carousel-caption">
                    <h2>
                        {slide.title}
                    </h2>
                    <f:if condition="{slide.link}">
                        <f:link.typolink parameter="{slide.link}" class="btn btn-danger">
                            <i class="fa fa-arrow-right"></i> {slide.linkText}
                        </f:link.typolink>
                    </f:if>
                </div>
            </div>
        </f:for>
    </div>

    <f:if condition="{settings.data.controls}">
        <a class="left carousel-control" href="#{identifier}" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
            <span class="sr-only"></span>
        </a>
        <a class="right carousel-control" href="#{identifier}" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
            <span class="sr-only"></span>
        </a>
    </f:if>
</div>
