<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">
  <footer>
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <f:cObject typoscriptObjectPath="lib.FooterLeft" />
        </div> <!-- /col-md-3 -->

        <div class="col-md-3">
          <f:cObject typoscriptObjectPath="lib.FooterCenter" />
        </div> <!-- /col-md-3 -->

        <div class="col-md-3">
          <f:cObject typoscriptObjectPath="lib.FooterCenter01" />
        </div> <!-- /col-md-3 -->

        <div class="col-md-3">
          <f:cObject typoscriptObjectPath="lib.FooterRight" />
        </div> <!-- /col-md-3 -->

      </div>
        <f:if condition="{site.configuration.Facebook}">
          <f:link.typolink parameter="{site.configuration.Facebook}"><f:image src="EXT:dti_nabu/Resources/Public/Images/icn_facebook.png" alt="facebook"></f:image></f:link.typolink>
        </f:if>
        <f:if condition="{site.configuration.Twitter}">
          <f:link.typolink parameter="{site.configuration.Twitter}"><f:image src="EXT:dti_nabu/Resources/Public/Images/icn_twitter.png" alt="twitter"></f:image></f:link.typolink>
        </f:if>
        <f:if condition="{site.configuration.Instagram}">
          <f:link.typolink parameter="{site.configuration.Instagram}"><f:image src="EXT:dti_nabu/Resources/Public/Images/link_instagram.png" alt="instagram"></f:image></f:link.typolink>
        </f:if>
        <f:if condition="{site.configuration.YouTube}">
          <f:link.typolink parameter="{site.configuration.YouTube}"><f:image src="EXT:dti_nabu/Resources/Public/Images/link_youtube.png" alt="youtube"></f:image></f:link.typolink>
        </f:if>
        <f:if condition="{site.configuration.Mail}">
          <f:link.typolink parameter="mailto:{site.configuration.Mail}"><f:image src="EXT:dti_nabu/Resources/Public/Images/icn_mail.png" alt="mail"></f:image></f:link.typolink>
        </f:if>
    </div>
  </footer>

  <nav id="mobilenavleft" class="hidden-md-up"></nav>
      {Stoerer-> f:format.raw()}
</html>
