<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">
    <div class="header">
      <div class="container">
        <a class="nabu-logo" href="/"><img src="{site.configuration.logo}" alt="NABU"/></a>
        <nav class="nav metanav hidden-md-down">
          <f:cObject typoscriptObjectPath="lib.HeadNavigation" />
          <f:cObject typoscriptObjectPath="lib.search" />
        </nav>
        <nav class="navbar navbar-dark bg-primary">
          <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mobilenav">Hauptmenu <i class="fa fa-chevron-down"></i></button>

            <!-- DESKTOP NAVIGATION -->
            <div class="navbar-toggleable-md hidden-md-down">
              <f:cObject typoscriptObjectPath="lib.pageNavigation" />
            </div>

            <!-- MOBILE NAVIGATION -->
              <div class="navbar-toggleable-md hidden-lg-up collapse" id="mobilenav">
                <f:cObject typoscriptObjectPath="lib.pageNavigationMobil" />
              </div>

        </nav>
        <f:if condition="{SlideshowSub}">
          <!-- Carousel start -->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              {SlideshowSub -> f:format.raw()}
            </div>
          </div>
          <!-- Carousel Ende -->
        </f:if>
         <f:if condition="{SlideshowSub}">
          <style>
            @media (min-width: 960px) {
                .breadcrumb-wrap {
                    padding-left: 0px !important;
                }
            }

            .breadcrumb-wrap {
                margin-top: 0px !important;
            }
          </style>
        </f:if>
        <f:cObject typoscriptObjectPath="lib.Breadcrumb" />

      </div>
    </div>
</html>
